@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    background: url(4.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background: rgba(22, 112, 214, 0.4)
}

.navbar .emre-bilişim{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;

}
.navbar .emre-bilişim a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: #f3f3f3;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    transition: .5s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: #ff6e00;
    border-radius: 2px;
}

.container .center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2{
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}

.center .buttons{
    margin: 35px 280px;
}

.buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #ffb3b3;
    background: rgb(207,96, 88 );
    border:solid 1px red;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    transition: .5s;
}

.buttons button:hover{
    background: #fff;
}
.duzenle{
    font-size: xx-large;
    margin-top: 100px;
    background-color: white;
    
}
.yapiyoruzbuisi{
    background-color: white;
}
.yaziayari{
    font-size: x-large;
}
.fab {
    padding: 8px;
    font-size: 30px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fab:hover {
    opacity: 0.6;
}
.fa-facebook-f {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
 
.fa-linkedin {
    background: #007bb5;
    color: white;
}
 
.fa-youtube {
    background: #bb0000;
    color: white;
}
 
.fa-instagram {
    background: #125688;
    color: white;
}
 
.fa-pinterest {
    background: #cb2027;
    color: white;
}
 
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
 
.fa-skype {
    background: #00aff0;
    color: white;
}
 
.fa-android {
    background: #a4c639;
    color: white;
}
 
.fa-dribbble {
    background: #ea4c89;
    color: white;
}
 
.fa-vimeo {
    background: #45bbff;
    color: white;
}
 
.fa-tumblr {
    background: #2c4762;
    color: white;
}
 
.fa-vine {
    background: #00b489;
    color: white;
}
 
.fa-foursquare {
    background: #45bbff;
    color: white;
}
 
.fa-stumbleupon {
    background: #eb4924;
    color: white;
}
 
.fa-flickr {
    background: #f40083;
    color: white;
}
 
.fa-yahoo {
    background: #430297;
    color: white;
}
 
.fa-soundcloud {
    background: #ff5500;
    color: white;
}
 
.fa-reddit {
    background: #ff5700;
    color: white;
}
#icerik{
    margin-top: 100px;
}
* {box-sizing: border-box}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color:rgb(73, 73, 216);
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}